
<div class="wrapper">


  
   
    <div class="featured-post-area">
      <div class="container">
          <div class="row" >
              
              <div class="row justify-content-center">
                <!-- Column -->
                <div class="col-md-7 no-trans text-center">
                  <h2 class="title">Blogs/Technology</h2>
                 

                  <div class="input-field">
                    <input class="form-control" 
                    id="choices-text-preset-values" type="text" placeholder=" Please Search Via Your  questions"
                    style="background-color:#E4E4E8;"
                    #Query="ngModel" [(ngModel)]="query"
                    name="query" (keyup)="filterQs(query)"
                    />
                     
                    
                  </div>
                 
                  <h6 class="subtitle">
                  If You Are Developing a Richfull Software Using Angular ,C# and Sql Database then this Blog Site Will help You.
                  During Development you will be Fall in manny Difficullties Or Error! That Kind Of Soloution you will be Find Here.
                 
                   
                  </h6>
                  
                </div>
                <!-- Column -->
              </div>

              <div  class="col-12 col-md-12 col-lg-12" *ngFor="let q of filteredItems; index as i">
                
    
                  <div class="blog-home2">
                   
                   
                  
                   
                    <div class="row m-t-40 justify-content-center">
                      <!-- Column -->
                      <div
                        class="col-md-8 no-trans  mb-4"
                         
                      >
                        <div class="card" data-aos="flip-left" data-aos-duration="1200">
                          <div class="row" >
                            <div class="col-md-1 no-trans">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-octagon" viewBox="0 0 16 16">
                                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                              </svg>
                            </div>
                            
                            <div class="col-md-7 no-trans">
                              <h5 class="font-medium cursor-pointer" > <a style="color: black;"
                              *ngIf="q.key!=undefined" [routerLink]="['/Answer/',q.key,q.queryParams]" 
                                
                              > 
                               {{q.questions}}
                             </a> </h5>

                              <p class="m-t-20">
                                {{q.questionsHeader}}
                              </p>
                            </div>
                            <div class="linking col-md-2 no-trans  ">
                              <span class=" text-dark font-medium">{{q.qEntryDate|date}} </span>
                              <h6 class="card-subtitle font-12 mt-1">By John Deo</h6>
                            </div>
                            <div class="col-md-2 no-trans">
                              <a
                              *ngIf="q.key!=undefined" [routerLink]="['/Answer/',q.key,q.queryParams]" 
                                class="linking font-medium text-themecolor m-t-10 cursor-pointer"
                              >
                                <span >Answer Details</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  
                </div>
    
                  
                
    
                 
              </div>
   <div class="container-fluid">
             <!-- <app-banner-content></app-banner-content>       -->
    
       
        </div>
          </div>
      </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->
    
   
  
    
    <!-- ##### Footer Add Area Start ##### -->
    <div class="footer-add-area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="footer-add">
                      <!-- <a href="#"><img src="assets/img/bg-img/footer-add.gif" alt=""></a> -->
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- ##### Footer Add Area End ##### -->
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
    
      <!-- Main Footer Area -->
      <div class="main-footer-area">
          <div class="container">
              <div class="row">
    
                  <!-- Footer Widget Area -->
                  <div class="col-12 col-sm-6 col-lg-4">
                      <div class="footer-widget-area mt-80">
                         
                          <div class="footer-logo">
                              <a href="assets/index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
                          </div>
                        
                          <ul class="list">
                              <li><a href="brainstemq@gmail.com">brainstemq@gmail.com</a></li>
                              <!-- <li><a href="tel: +01763073681 ">+01763073681 </a></li> -->
                             
                             
                          </ul>
                      </div>
                  </div>
    
                 
                  <!-- <div class="col-12 col-sm-6 col-lg-2">
                      <div class="footer-widget-area mt-80">
                           
                          <h4 class="widget-title">Politics</h4>
                          
                          <ul class="list">
                              <li><a href="#">Business</a></li>
                              <li><a href="#">Markets</a></li>
                              <li><a href="#">Tech</a></li>
                              <li><a href="#">Luxury</a></li>
                          </ul>
                      </div>
                  </div>
    
                 
                  <div class="col-12 col-sm-4 col-lg-2">
                      <div class="footer-widget-area mt-80">
                        
                          <h4 class="widget-title">Featured</h4>
                          
                          <ul class="list">
                              <li><a href="#">Football</a></li>
                              <li><a href="#">Golf</a></li>
                              <li><a href="#">Tennis</a></li>
                              <li><a href="#">Motorsport</a></li>
                              <li><a href="#">Horseracing</a></li>
                              <li><a href="#">Equestrian</a></li>
                              <li><a href="#">Sailing</a></li>
                              <li><a href="#">Skiing</a></li>
                          </ul>
                      </div>
                  </div>
    
                
                  <div class="col-12 col-sm-4 col-lg-2">
                      <div class="footer-widget-area mt-80">
                         
                          <h4 class="widget-title">FAQ</h4>
                       
                          <ul class="list">
                              <li><a href="#">Aviation</a></li>
                              <li><a href="#">Business</a></li>
                              <li><a href="#">Traveller</a></li>
                              <li><a href="#">Destinations</a></li>
                              <li><a href="#">Features</a></li>
                              <li><a href="#">Food/Drink</a></li>
                              <li><a href="#">Hotels</a></li>
                              <li><a href="#">Partner Hotels</a></li>
                          </ul>
                      </div>
                  </div>
    
                  
                  <div class="col-12 col-sm-4 col-lg-2">
                      <div class="footer-widget-area mt-80">
                         
                          <h4 class="widget-title">+More</h4>
                         
                          <ul class="list">
                              <li><a href="#">Fashion</a></li>
                              <li><a href="#">Design</a></li>
                              <li><a href="#">Architecture</a></li>
                              <li><a href="#">Arts</a></li>
                              <li><a href="#">Autos</a></li>
                              <li><a href="#">Luxury</a></li>
                          </ul>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
    
    
      <div class="bottom-footer-area">
          <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <div class="col-12">
                  
                      <p> 
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/rimon.mominur/" target="_blank">BrainStemQ</a>
    </p>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    
      
      <footer class="footer footer-default">
          <div class="container">
              <nav>
                  <ul>
                      <li>
                          <a href="https://www.creative-tim.com">
                              Creative Tim
                          </a>
                      </li>
                      <li>
                          <a href="https://www.creative-tim.com/about-us">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a href="http://blog.creative-tim.com">
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                              MIT License
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright">
                  &copy;
                   Designed by
                  <a href="https://www.facebook.com/rimon.mominur/" target="_blank">Invision</a>. Coded by
                  <a href="https://www.facebook.com/rimon.mominur/" target="_blank">Creative Tim</a>.
              </div>
          </div>
      </footer>
    
  </div>
 