
<header class="header">
 

  <!-- Header Content -->
  <div class="header_content_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justfy-content-start">
            <div class="logo_container">
              <a href="#">

                <!-- <div class="logo"><span>Tech</span>mag</div> -->
                <div class="logo"><img src="/assets/log1.jpg" alt="" height="100px" width="250px"></div>
                <!-- <div class="logo_sub">Innovation & Technology Magazine</div> -->
              </a>
            </div>
            <div class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start">
              <a href="#">
                <div class="background_image" style="background-image:url(/assets/img/core-img/extra.jpg)"></div>
                <div class="header_extra_content">
                  <div class="header_extra_title">Question?</div>
                  <div class="header_extra_subtitle">Find Your Answer !</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Navigation & Search -->
  <div class="header_nav_container" id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
            
            <!-- Logo -->
            <div class="logo_container">
              <a href="#">
                <div class="logo"><span>Brain</span>Stem</div>
                <div class="logo_sub">Q</div>
              </a>
            </div>
 
            <!-- Navigation -->
            <nav class="main_nav">
              <ul class="main_nav_list d-flex flex-row align-items-center justify-content-start"> 
               <li> <!-- Search -->
                <div class="header_search_container ml-auto">
                  <div class="header_search">
                    <form action="#" id="header_search_form" class="header_search_form d-flex flex-row align-items-center justfy-content-start">
                      <div><div class="header_search_activation"><i class="fa fa-search" aria-hidden="true"></i></div></div>
                      <input type="text" class="header_search_input" placeholder="Search Your Answer" required="required">
                    </form>
                  </div>
                </div></li>
               
                <li><a [routerLink]="['/home','Angular']" >Angular</a></li>
                <li><a [routerLink]="['/home','Angular']" >.Net</a></li>
                <li><a [routerLink]="['/home','Angular']" >Sql Server</a></li>
                <li><a [routerLink]="['/home','Angular']" >Firebase</a></li>
                <li><a [routerLink]="['/home','Angular']" >JavaScript</a></li>
                <li><a [routerLink]="['/home','Angular']" >C++</a></li>
                <li><a [routerLink]="['/home','Angular']" >C#</a></li>
             
             
              <!-- <li>
               <div class="dropdown">
              <span>Others </span>
              <div class="dropdown-content">
                <a class="dropdown-item"[routerLink]="['/home','বিজ্ঞান ও প্রযুক্তি']">বিজ্ঞান ও প্রযুক্তি</a>
                    <a class="dropdown-item" [routerLink]="['/home','কৃষি']">কৃষি</a>     
                    <a class="dropdown-item" [routerLink]="['/home','শিক্ষা']">শিক্ষা</a>
                    <a class="dropdown-item" [routerLink]="['/home','স্বাস্থ্য']">স্বাস্থ্য</a>
                    <a class="dropdown-item" [routerLink]="['/home','আইন আদালত']">আইন আদালত</a>
                    <a class="dropdown-item" [routerLink]="['/home','ফিচার']">ফিচার</a>
                    <a class="dropdown-item" [routerLink]="['/home','লাইফস্টাইল']">লাইফস্টাইল</a>
              </div>
            </div>
              </li> -->

              </ul>
            </nav>

          

            <!-- Hamburger -->
            <div class="hamburger ml-auto menu_mm"><i class="fa fa-bars  trans_200 menu_mm" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>		
  </div>

</header>

<!-- Menu -->
